# Papra server environment variables
# ----------------------------------

# Database
# Turso: DATABASE_URL="libsql://your-db-name.turso.io"
# Local: DATABASE_URL="file:./db.sqlite"
DATABASE_URL=""
DATABASE_AUTH_TOKEN=""

# AI Tagging (Optional)
# See https://ai.google.dev/
GEMINI_API_KEY=""
