# Base URLs
APP_BASE_URL=http://localhost:1221
CLIENT_BASE_URL=http://localhost:1221
SERVER_BASE_URL=http://localhost:1221
TRUSTED_ORIGINS=http://localhost:1221
SERVER_CORS_ORIGINS=http://localhost:1221

# Server
PORT=1221
SERVER_SERVE_PUBLIC_DIR=true

# Database & Storage
DATABASE_URL=file:./app-data/db/db.sqlite
DOCUMENT_STORAGE_FILESYSTEM_ROOT=./app-data/documents
PAPRA_CONFIG_DIR=./app-data

# Ingestion
INGESTION_FOLDER_IS_ENABLED=false
INGESTION_FOLDER_ROOT_PATH=./ingestion
INGESTION_FOLDER_WATCHER_USE_POLLING=false
INGESTION_FOLDER_WATCHER_POLLING_INTERVAL_MS=2000
INGESTION_FOLDER_PROCESSING_CONCURRENCY=1
INGESTION_FOLDER_POST_PROCESSING_STRATEGY=move
INGESTION_FOLDER_POST_PROCESSING_MOVE_FOLDER_PATH=./ingestion-done
INGESTION_FOLDER_ERROR_FOLDER_PATH=./ingestion-error

# OCR/AI (optional)
GEMINI_API_KEY=


